.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 8rem;
}

.contact-title{
    color: #EBC556;
    font-size: 2.25rem;
    font-family: 'Krona One';
    margin: 0;
    padding: 0;
}

.contact-subtitle{
    color: #FFFFFF;
    margin: 0 0 2.5rem 0;
}

.contact-bubble{
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}

.contact-bubble-p1{
    margin: 0;
    background-color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    position: absolute;
}

.contact-bubble-span1{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Krona One';
    margin: 0;
    padding: 0.5rem 3.6rem 0.5rem 6.3rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    background-color: #EBC556;
}

.contact-bubble-img1{
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin: 0 0 0 24rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #000000;
    position: absolute;
}

.contact-bubble-p2{
    margin: 0;
    background-color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    position: absolute;
}

.contact-bubble-span2{
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Krona One';
    margin: 0;
    padding: 0.5rem 3.6rem 0.5rem 7.5rem;
    border-radius: 25px;
    margin-bottom: 1rem;
    background-color: #EBC556;
}

.contact-bubble-img2{
    display: flex;
    width: 2rem;
    height: 2rem;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;
    margin: 0 0 0 19.7rem;
    padding: 0.1rem 0.5rem 0.2rem 0.5rem;
    margin-bottom: 1rem;
    position: absolute;
}

.contact-bubble-span1.clicado{
    background-color: aqua;
}