.header-container {
    background-color: #F7F9F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-lista {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    width: 100%;
    margin-right: 5.5rem;
}

.header-li{
    padding: 0 2.5rem 0 2.5rem;
}

.header-link {
    text-decoration: none;
    color: #24292F;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2rem;
}


.header-li:hover {
    text-decoration: underline;
}

.header-img{
    height: 3rem;
    width: 3rem;
    margin: 0.5rem 0 0.5rem 3rem;
}
