.header-container {
    background-color: #F7F9F8;
    display: flex;
    justify-content: center;
}

.header-lista {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    width: 100%;
}

.header-link {
    text-decoration: none;
    color: #24292F;
    margin-right: auto; /* Empurra os elementos para o centro */
    padding: 2rem;
    font: 500;
    font-family: 'Montserrat';
    font-size: 1.2rem;
}
