.header-container {
    background-color: #F7F9F8;
    display: flex;
    justify-content: center;
}

.header-lista {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    width: 100%;
}

.header-li{
    margin: 0 2.5rem 0 2.5rem;
}

.header-link {
    text-decoration: none;
    color: #24292F;
    margin-right: auto;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1.2rem;
    transition: transform 0.3s;
}

.header-link:hover {
    text-decoration: overline;
}
