.resume-especific-title{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.resume-especific-title-h1-1{
    color: #FFFFFF;
    font-family: 'Krona One';
    font-size: 3rem;
    margin: 0.25rem 0 0 0;
}

.resume-especific-title-h1-2{
    color: #FFFFFF;
    font-family: 'Krona One';
    font-size: 3rem;
    margin: 0 0 5rem 0;
}

.resume-especific-container{
    display: flex;
    justify-content: space-between;
}

.resume-especific-projects-part-2,
.resume-especific-projects-part-1{
    flex-basis: 48%;
    text-align: center;
}

.resume-especific-projects-container{
    display: flex;
    text-align: center;
    justify-content: space-between; 
    align-items: center;
}

.project-title{
    color: #EBC556;
    font-size: 1.75rem;
    font-family: 'Krona One';
    margin: 5rem 0 1rem 0 ;
}

.project-image-text-container{
    display: flex;
}

.project-text{
    display: flex;
    flex-direction: column;
}

.project-text-title{
    display: flex;
    margin: 2rem 0 1rem 0;
    color: #FFFFFF;
}

.project-text-ul-p5,
.project-text-ul-p4,
.project-text-ul-p3,
.project-text-ul-p2,
.project-text-ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-text-ul-p2{
    margin-bottom: 10rem;
}

.project-text-ul-p3{
    margin-bottom: 6rem;
}

.project-text-ul-p4{
    margin-bottom: 9rem;
}

.project-text-ul-p5{
    margin-bottom: 9rem;
}

.project-text-li{
    color: #FFFFFF;
    font-family: 'MontSerrat';
    font-size: 1rem;
    font-weight: 400;
}

.project-text-p1,
.project-text-p,
.project-text-subtitle{
    display: flex;
    align-items: flex-start;
    margin: 0;
    font-size: 1rem;
}

.project-text-subtitle{
    color: #FFFFFF;
    font-family:'Krona One';
    margin: 1rem 0 0 0;
}

.project-text-p{
    color: #FFFFFF;
    font-family: 'MontSerrat';
}

.project-text-p1{
    color: #FFFFFF;
    font-family: 'MontSerrat';
    font-size: 1rem;
    margin: 2rem 0 0 0;
}

